:root {
    --color-primary: #522f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.txb{
    display: none;
}

.topbar {
    width: 100%;
    background-color: var(--color-primary);
    height: 32px;
    line-height: 32px;
}

.topbar__title {
    color: white;
    text-align: center;
    font-weight: 400;
}

.container {
    padding: 10px 50px;
}

/* Header */
.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header__menu--icon {
    font-size: 24px;
    margin-right: 20px;
}

.header__logo {
    width: 40px;
}

.header__search {
    /* background-color: red; */
    height: 40px;
    border: 1px solid rgb(161, 161, 161);
    width: 60%;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s ease-in;
}

    .header__search input {
        height: 100%;
        flex: 1;
        outline: none;
        border: none;
        padding: 0 20px;
    }

    .header__search:has(input:focus) {
        border: 1px solid black;
    }

    .header__search i {
        height: 100%;
        padding: 10px 20px;
        opacity: 0.5;
    }

        .header__search i:hover {
            cursor: pointer;
            background-color: rgb(99, 99, 99);
        }

.header__controls {
    font-size: 24px;
}

.header__controls--user {
    border: 1px solid;
    border-color: transparent black transparent black;
    padding: 0 40px;
}

.header__controls--cart {
    margin-left: 20px;
    position: relative;
}

    .header__controls--cart::after {
        content: attr(data-total);
        position: absolute;
        background-color: red;
        top: -10px;
        right: -6px;
        height: 20px;
        width: 20px;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        font-weight: 300;
        color: white;
    }

/* End Css Header */

/* Menu */

.mobile__menu {
    display: none;
}

.menu,
.menu__promotion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-weight: 550;
    list-style: none;
}

.menu__home {
    color: var(--color-primary);
}

.menu__item {
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 10px;
}

.menu__item--active {
    background-color: var(--color-primary);
    color: white;
}

/* Footer */

.footer__content {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
}

    .footer__content div {
        width: 22%;
    }

    .footer__content h4 {
        margin: 10px 0;
        text-align: center;
        font-size: 18px;
    }

    .footer__content h5 {
        font-size: 14px;
        font-weight: 350;
    }

    .footer__content p {
        padding: 5px 0;
    }

.footer__service--list {
    font-size: 14px;
}

.footer__service--item {
    padding: 5px;
    font-weight: 350;
}

.footer__social span {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    transition: all 0.5s ease-in;
}

    .footer__social span:hover {
        background-color: var(--color-primary);
        color: white;
        cursor: pointer;
    }

.footer__copyright {
    text-align: center;
    padding: 50px;
}

/* Cart */

.cart__content {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cart__item {
    width: 70%;
    margin-right: 50px;
}

.cart__title {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-primary);
    margin: 10px 0 15px;
}

.cart__item--total {
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
}

    .cart__item--total span {
        font-weight: 600;
    }

.cart__product--list {
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    padding: 20px;
}

.cart__product--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
}

.product__item--detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .product__item--detail img {
        width: 80px;
        margin-right: 20px;
    }

.product__item--name {
    font-size: 18px;
    font-weight: 300;
}

.product__item--price {
    color: #8f9bb3;
    margin-top: 10px;
}

.product__item--action button {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 5px;
    margin: 5px;
}

    .product__item--action button:hover {
        cursor: pointer;
    }

.product__item--action {
    display: flex;
}

.item__count {
    margin-right: 20px;
}

/* Thanh Toán */
.cart__total {
    width: 30%;
}

.total__price {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.cart__summary {
    margin: 10px 20px 15px;
}

.cart__summary--item {
    font-size: 14px;
    margin: 10px 0 15px;
    font-weight: 300;
}

.cart__btn {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .topbar {
        font-size: 12px;
    }

    .container {
        padding: 0;
    }

    .header {
        padding: 10px 10px;
    }

    .header__search {
        font-size: 10px;
        width: 50%;
    }

        .header__search input {
            padding-left: 10px;
            padding-right: unset;
            flex: unset;
            width: 80%;
        }

        .header__search i {
            display: inline-block;
            width: 20%;
            padding: unset;
            text-align: center;
            line-height: 40px;
        }

    .header__controls {
        display: flex;
        justify-content: space-around;
        margin-left: 10px;
    }

    .header__controls--user {
        padding: 0 10px;
        border: unset;
    }

    /* menu */

    .mobile__menu {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
    }

    .header + .menu {
        display: none;
    }

    .btnCheck {
        font-size: 24px;
    }

    .menu {
        position: fixed;
        padding: 0 20px;
        top: 100px;
        left: 0;
        display: block;
        background-color: var(--color-primary);
        width: 100%;
        z-index: 1;
        text-align: center;
        transition: all 0.5s ease;
    }

    .menu__home {
        display: none;
    }

    #check:not(:checked) ~ .menu {
        left: -100%;
    }

    .menu__item:hover,
    .menu__item:active {
        color: white;
    }

    /* Cart */
    .cart__content {
        flex-direction: column;
    }

    .cart__item,
    .cart__total {
        width: 100%;
    }

    .cart__item {
        padding: 0;
    }

    .cart__product--list {
        margin: 10px;
    }

    .product__item--name {
        overflow: hidden;
        font-size: 14px;
    }

    .product__item--action {
        flex-direction: column;
    }

    .count {
        line-height: 28px;
        height: 28px;
    }

    .item__count--icon {
        height: 28px;
        width: 28px;
    }

    .item__count {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cart__btn {
        width: 95%;
        margin: 10px;
    }

    /* Footer */

    .footer {
        width: 100vw;
    }

    .footer__content {
        padding: 10px;
        flex-direction: column;
    }

        .footer__content div {
            width: 100%;
        }

    .footer__service--list {
        list-style: none;
    }

    .footer__copyright {
        padding: 50px 0;
    }
}
